$icon-font-path: '../fonts/';
$font-stack: 'Roboto', 'Helvetica', 'sans-serif';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    font: 100% $font-stack;
    width: 100vw;
    height: 100vh;
}

#google-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mdl-layout__drawer{
  border: none;
}

.info-card-wide.mdl-card {
  width: 512px;
}
.info-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  opacity: 1.0;
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/ed.png') center / cover;
}
.info-card-wide > .mdl-card__menu {
  color: #fff;
}
.info-card-image.mdl-card {
  width: 200px;
  height: 56px;
}

.pull-right {
    float: right !important;
    img {
      width: 30px;;
      height: 30px;
      margin-top: -40px;
    }
}

.mdl-layout__drawer {
  top: 64px;
}

.mdl-layout--fixed-drawer:not(.is-small-screen)>.mdl-layout__header {
    margin: 0;
    width: 100%;
}

.infoPics > div:first-of-type { display:none; }

.gm-style-iw {
  height: 500px!important;
  width: 500px!important;
}

.thumbnail .caption {
    max-height: 100px;
    overflow: auto;
    p {
        text-align: center;
        font-style: italic;
        font-size: 12px;
        text-indent: 0;
        color: #000!important;
    }
}
